header{
    background-color: #00F8FF;
    display: none;
}

h3{
    font-family: 'Lobster', cursive;
}

#logoImg{
    width:30px;
    height:30px;
}

ul{
    list-style-type: none;
}

li{
    text-decoration: none;
    padding-left: 16px;
}

@media only screen and (max-width: 400px){
    header{
        display: block;
    }

}