.home-section {
    padding-top: 20px;
    background-color: #fafafa;
}

.card-picture {
    width: 100%;
    margin-bottom: 3rem;
    /* box-shadow: 0 1rem 3rem rgba(black, .1); */
    border: 1px seashell;
    box-shadow: 3px 6px 10px #eee;
}

.username {
    font-size: 24px;
}

.submit_button {
    margin-left: 10px;
}

.card {
    width: 100%;
}

.commentForm {
    padding-top: 20px;
}

.post-description {
    font-size: 18px;
}

img.card-img-top {
    padding-top: 10px;
    padding-bottom: 20px;
}
