.signInForm {
    border: solid lightgray 1px;
    padding:30px;
}

.link{
    color: blue;
}

.link:hover{
    color: black;
}

.signInImage{
    margin-right:2rem;
    width:400px;
}

.signInForm{
    margin-top: 7rem;
}

@media only screen and (max-width: 800px) {
    .signInImage {
        display: none;
    }
}